@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

/*Générale*/
h1{
    font-family: "Roboto Mono", monospace;
    font-size: 2.7rem;
    font-weight: 500;
    padding-bottom: 2rem;

}

h2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.2rem;
    font-weight: 500;
}

p, h3{
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
   line-height: 1.8rem;
}
h3{
    font-size: 1.4rem;
    font-weight: 600;
}

p, li{
    font-size: 1.1rem;
}

#taille-portfolio{
    font-size: 1.6rem;
}

#bienvenue-taille{
    font-size: 1.6rem;
}

a{
    color: white;
    text-decoration: none;
}

.site{
    color: black;
}

a:hover{
    text-decoration: underline;
}


header{
    position: fixed;
    top: 2px;
    width: 99%;
    background-color: #7e796e;
    color: white;
    border: 2px solid black;
    box-shadow: 0px 4px 6px black;
}

nav{ 
    background-color: #7e796e;
    display: flex;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    align-items: center;

}

#nav{
    list-style: none;
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
    justify-content: end;
    gap: 3.5rem;
    padding-top: 2rem;
    font-size: 1.1rem;
}

/*section 1*/

.centree{
    text-align: center;
    font-size: 2.3rem;
    margin-top: 7rem;
    margin-bottom: 7rem;
    margin-left: 17rem;
    margin-right: 17rem;
    background-color: #d5cbb9;
    padding-top: 5rem;
    padding-bottom: 5rem;
    border-radius: 5px;
    border: 3px solid #7e796e;
}

/*Section 2 :  Ma présentation*/

.section1 {
   background-color: #f9f4ed;
   padding-top: 0.1rem; 
   padding-bottom: 0.2rem;
}

#presentation{
    padding: 3rem 5rem;
    text-align: justify;
    background-color: #d5cbb9;
    margin: 4rem 14rem;
    border-radius: 5px;
    box-shadow: 0px 6px 9px black;
}

#premier-paragraphe{
   padding-top: 3rem;
   padding-bottom: 3rem;

}

/*Section 3*/

#formation{
    padding: 2rem 5rem;
    background-color: #7e796e;
    margin: 1rem 14rem 6rem  14rem;
    border-radius: 5px;
    border: 3px solid black;
    box-shadow: 0px 6px 9px black;
    color: white;
}

.gauche:hover{
    box-shadow: 0px 9px 32px black;
}

.droite:hover{
    box-shadow: 0px 9px 32px black;
}

.gauche{
    margin-right: 40%;
    background-color: white;
    color: black;
    padding: 2rem;
    border-radius: 15px;
    margin-top: 3rem;
    box-shadow: 0px 6px 8px black;
}



.droite{
    margin-left: 40%;
    background-color: white;
    color: black;
    padding: 2rem;
    border-radius: 15px;
    margin-top: 3rem;
    box-shadow: 0px 6px 8px black;
}

.date{
    display: flex;
    gap: 3rem;
}

.date-color{
    font-weight: 700;
    color: #969ee1;
}

/*Section 4*/

#experience{
    margin: 6rem 3rem;
}

.titre-experience{
    margin-left: 17rem;
    padding-bottom: 2rem;
}

#chaque-experience{
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
    justify-content: space-around;
}

.metier{
    background-color: #f9f4ed;
    padding: 3rem;
    border: 3px solid #d5cbb9;
    box-shadow: 0px 6px 8px black;
    margin: 3rem;
    border-radius: 5px;
}
.metier:hover{
box-shadow: 0px 9px 22px black;
}

img{
    width: 28rem;
    border-radius: 5px;
}

footer{
    background-color: #7e796e;
    text-align: center;
    padding: 1.2rem;

}

/*Section logiciel*/

#logiciel{
    display: flex;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    line-height: 5rem;
    justify-content: space-around;
}
.taille_logiciel{
    list-style: none;
    font-size: 1.5rem;
}

/*Page 2*/
#projet{
    margin-top: 7rem;
    padding: 1rem;
}

/*API*/
#meteo{
    position: fixed;
    top: 100px;
    left: 20px;
    background-color: #969EE1;
    border-radius: 10px;
    padding: 1rem;
    width: 180px;}

#meteo h2{
    font-size: 1.3rem;
}
